<div class="left side-menu">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 276px;">
    <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 276px;">
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>
          <li class="text-muted menu-title">Điều hướng</li>

          <!--=== CAN BO TRUONG === -->
          <ng-template [ngIf]="currentPermission.role.id=='ADMIN'">
            <li class="has_sub">
              <a href="javascript:void(0);" class="waves-effect">
              <i class="ti-paint-bucket"></i>
               <span> Quản lý hoạt động </span> 
               <span class="menu-arrow"></span> 
               </a>
              <ul class="list-unstyled">
                <li><a [routerLink]="['/pages/admin/activities']">Danh sách hoạt động</a></li>
                <li><a [routerLink]="['/pages/admin/activities/new']">Tạo hoạt động</a></li>
              </ul>
            </li>
            <li class="has_sub">
              <a [routerLink]="['/pages/admin/organizations']" class="waves-effect">
            <i class="ti-bar-chart"></i>
            <span> Quản lý chi đoàn </span></a>
            </li>
            <li class="has_sub">
              <a [routerLink]="['/pages/admin/users']" class="waves-effect">
            <i class="fa fa-users"></i> 
              <span> Quản lý đoàn viên </span>
             <span class="menu-arrow"></span> 
             </a>
            </li>
          </ng-template>

          <!-- === CAN BO DOAN === -->
          <ng-template [ngIf]="currentPermission.role.id=='CBD'">
            <li class="has_sub">
              <a class="waves-effect">
              <i class="fa fa-tasks"></i>
               <span> Quản lý hoạt động </span> 
               <span class="menu-arrow"></span> 
               </a>
              <ul class="list-unstyled">
                <li><a [routerLink]="['/pages/cbd/activities']">Danh sách hoạt động</a></li>
                <li><a [routerLink]="['/pages/cbd/activities/new']">Tạo hoạt động</a></li>
              </ul>
            </li>
            <li class="has_sub">
              <a [routerLink]="['/pages/cbd/activities/points']" class="waves-effect">
            <i class="fa fa-pencil"></i>
            <span> Điểm danh </span></a>
            </li>
            <li class="has_sub">
              <a [routerLink]="['/pages/cbd/users']" class="waves-effect">
            <i class="fa fa-users"></i> 
              <span> Quản lý tài khoản </span>
             </a>
            </li>
          </ng-template>

          <!-- === SINH VIÊN ==== -->
          <ng-template [ngIf]="currentPermission.role.id=='STUDENT'">
            <li class="has_sub">
              <a [routerLink]="['/pages/user/activities']" class="waves-effect">
            <i class="fa fa-tasks"></i> 
              <span>Danh sách hoạt động </span>
             <span class="menu-arrow"></span> 
             </a>
            </li>
            <li class="has_sub">
              <a [routerLink]="['/pages/user/point']" class="waves-effect">
            <i class="ti-user"></i> 
              <span>Điểm CTXH/Rèn luyện </span>
             <span class="menu-arrow"></span> 
             </a>
            </li>
          </ng-template>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="slimScrollBar" style="background: rgb(152, 166, 173); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 179.66px; visibility: visible;"></div>
    <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
  </div>
</div>