<div class="container effect8" style="background: #fff">
  <div class="row">
    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
      <div class="card-box">
        <div class="panel-heading">
          <h2 class="text-center" style="font-weight: bolder; font-size: 30pt">Đăng nhập</h2>
        </div>
        <div class="panel-body">
          <form class="form-horizontal m-t-20" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate style="padding-bottom: 3em">
            <app-alert></app-alert>
            <div class="form-group">
              <div class="col-md-6 col-lg-6 col-md-offset-3">
                <input name="username" [ngClass]="{ 'parsley-error': f.submitted && !username.valid }" class="form-control" [(ngModel)]="model.username"
                  #username="ngModel" type="text" required="" placeholder="Tên đăng nhập">
                <ul *ngIf="f.submitted && !username.valid" class="parsley-errors-list filled" id="parsley-id-5">
                  <li class="parsley-required">Tên đăng nhập không được để trống.</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-lg-6 col-md-offset-3">
                <input name="password" class="form-control" [ngClass]="{ 'parsley-error': f.submitted && !password.valid
                }" [(ngModel)]="model.password" #password="ngModel" type="password" required="" placeholder="Mật khẩu">
                <ul *ngIf="f.submitted && !password.valid" class="parsley-errors-list filled" id="parsley-id-5">
                  <li class="parsley-required">Mật khẩu không được để trống.</li>
                </ul>
              </div>
            </div>
            <div class="form-group text-center m-t-40">
              <div class="col-md-6 col-lg-6 col-md-offset-3">
                <button class="btn btn-info btn-block text-uppercase waves-effect waves-light" style="background-color:
                #0e76bc" type="submit">Đăng nhập</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>