<div class="row">
  <div class="col-sm-6">
    <form role="form">
      <div class="form-group contact-search m-b-30">
        <input type="text" id="search" class="form-control" placeholder="Tim kiếm...">
        <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
      </div>
      <!-- form-group -->
    </form>
  </div>
  <div class="col-md-6">
    <div class="h5 m-0">
      <div class="btn-group vertical-middle" data-toggle="buttons">
        <label class="btn btn-white btn-md waves-effect">
										    <input type="checkbox" autocomplete="off"> Tên
										 </label>
        <label class="btn btn-white btn-md waves-effect active">
										    <input type="checkbox" autocomplete="off" checked=""> Trạng thái
										 </label>
        <label class="btn btn-white btn-md waves-effect">
										    <input type="checkbox" autocomplete="off"> Thời gian
										  										 </label>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div *ngIf="isEmpty()" style="text-align: center">
      <h3>Bạn chưa đăng ký tham gia hoạt động nào!</h3>
    </div>
  </div>
</div>
<div class="row" *ngFor="let register of registers">
  <div class="col-lg-12 col-md-12">
    <div class="card-box m-b-10">
      <div class="table-box opport-box">
        <div class="table-detail" style="width: 200px">
          <img src="{{getLinkImg(register.activity.imgUrl)}}" alt="img" class="img-circle thumb-lg m-r-15" />
        </div>
        <div class="table-detail">
          <div class="member-info">
            <h4 class="m-t-0"><b>{{register.activity.name}}</b></h4>
            <p class="text-dark m-b-5"><b>Ngày tạo: </b> <span class="text-muted">{{register.activity.createdDate}}</span></p>
          </div>
        </div>
        <div class="table-detail lable-detail">
          <p class="text-dark m-b-5"><b>Ngày bắt đầu: </b> <span class="text-muted">{{register.activity.startDate}}</span></p>
          <p class="text-dark m-b-5"><b>Ngày kết thúc: </b> <span class="text-muted">{{register.activity.endDate}}</span></p>
        </div>
        <div class="table-detail lable-detail">
          <span class="label label-info">{{register.joined?"Đã tham gia":"Chưa tham gia"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>