<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="row">
    <ng2-toasty [position]="'top-right'"></ng2-toasty>
    <div class="col-sm-6">
      <form role="form">
        <div class="form-group contact-search m-b-30">
          <input type="text" (input)="onChangeSearch($event)" id="search" class="form-control" placeholder="Tim kiếm...">
          <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
        </div>
        <!-- form-group -->
      </form>
    </div>
    <div class="col-md-6" *ngIf="!isStudent()">
      <a [routerLink]="getRouter()" class="btn btn-default btn-md waves-effect waves-light m-b-30 pull-right" data-animation="fadein"
        data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a">
                                <i class="md md-add"></i> Thêm mới</a>
      <div class="h5 m-0" *ngIf="!isStudent()">
        <div class="btn-group vertical-middle" data-toggle="buttons">
          <label class="btn btn-white btn-md waves-effect">
										    <input type="checkbox" autocomplete="off"> Tên
										 </label>
          <label class="btn btn-white btn-md waves-effect active">
										    <input type="checkbox" autocomplete="off" checked="true"> Chờ duyệt
                        <span class="label label-pink">{{countActivities}}</span>
										 </label>
          <label class="btn btn-white btn-md waves-effect">
										    <input type="checkbox" autocomplete="off"> Thời gian
										  										 </label>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card-box m-b-10" *ngFor="let activity of activities | paginate: { id: 'server', itemsPerPage: paging.perPage, currentPage: paging.currentPage+1, totalItems: paging.total }">
        <div class="table-box opport-box">
          <div class="table-detail">
            <img src="{{getLinkImg(activity.imgUrl)}}" alt="img" class="img-circle thumb-lg m-r-15" />
          </div>
          <div class="table-detail">
            <div class="member-info">
              <h4 class="m-t-0"><b>
                      <a href="/activities/{{activity.id}}">{{activity.name}}</a>
              </b></h4>
              <ng-template [ngIf]="isFullPermission()">
                <p class="text-dark m-b-5"><b>Tổ chức: </b> <span class="text-muted">{{activity.organization.name}}</span></p>
              </ng-template>
              <ng-template [ngIf]="!isFullPermission()">
                <p class="text-dark m-b-5"><b>Ngày tạo: </b> <span class="text-muted">{{activity.createdDate}}</span></p>
              </ng-template>
            </div>
          </div>

          <div class="table-detail lable-detail">
            <p class="text-dark m-b-5"><b>Ngày bắt đầu: </b> <span class="text-muted">{{activity.startDate}}</span></p>
            <p class="text-dark m-b-5"><b>Ngày kết thúc: </b> <span class="text-muted">{{activity.endDate}}</span></p>
          </div>
          <div class="table-detail lable-detail">
            <span class="label label-danger">{{activity.confirmed?"Đã phê duyệt":"Chờ phê duyệt"}}</span>
            <span class="label label-info">{{activity.status}}</span>
          </div>
          <div class="table-detail">

            <ng-template [ngIf]="isFullPermission()">
              <a (click)="confirm(activity,activity.confirmed?false:true)" class="btn btn-sm waves-effect waves-light" [ngClass]="activity.confirmed?'btn-info':'btn-danger'">{{activity.confirmed?"Hủy phê duyệt":"Phê duyệt"}} </a>
            </ng-template>
            <ng-template [ngIf]="isFullPermission() || (isRoleOrg() && canEditActivity(activity.confirmed))">
              <a [routerLink]='getLinkEdit(activity.id)' class="btn btn-sm btn-danger">Sửa</a>
            </ng-template>
            <ng-template [ngIf]="isFullPermission() || (isRoleOrg() && canDeleteActivity(activity.confirmed))">
              <a (click)="showModal(activity)" class="btn btn-sm btn-danger">Xóa</a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls class="pagination" previousLabel=" " nextLabel=" " (pageChange)="getPage($event)" id="server"></pagination-controls>
  <div class="row" style="padding-top: 20px">
    <div class="col-lg-12 col-md-12">
      <div style="text-align: center">
        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
        <!--<pagination-controls class="pagination" (pageChange)="getPage($event)" id="server"></pagination-controls>-->

      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #orgModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="padding:0;border-color: none">
        <h4 class="custom-modal-title">Xóa hoạt động</h4>
        <div class="custom-modal-text text-left">
          <h3>Bạn có muốn xóa hoạt động này không?</h3>
          <button type="button" (click)="delete(currentActivity.id)" class="btn btn-default waves-effect waves-light">Xóa</button>
          <button type="button" class="btn btn-danger waves-effect waves-light m-l-10" (click)="hideModal()">Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>