<div class="card-box table-responsive">
  <div class="row">
    <div class="col-lg-12">
      <ng2-toasty [position]="'top-right'"></ng2-toasty>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h3>{{activity.name}}</h3>
          <p>{{activity.startDate}}-{{activity.endDate}}</p>
        </div>
      </div>
      <div id="usersDataTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="row">
          <div class="col-sm-6">
            <div class="dataTables_length" id="usersDataTable_length"><label>Xem <select name="usersDataTable_length" aria-controls="usersDataTable" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> mục</label></div>
          </div>
          <div class="col-sm-6">
            <div id="usersDataTable_filter" class="dataTables_filter"><label>Tìm kiếm:<input type="search" class="form-control input-sm" placeholder="" aria-controls="usersDataTable"></label></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table id="usersDataTable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="usersDataTable_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="usersDataTable" rowspan="1" colspan="1" aria-label="ID: activate to sort column descending"
                    aria-sort="ascending" style="width: 60px;">STT</th>
                  <th class="sorting" tabindex="0" aria-controls="usersDataTable" rowspan="1" colspan="1" aria-label="Tên hoạt động: activate to sort column ascending"
                    style="width: 203px;">Tên đăng nhập</th>
                  <th class="sorting" tabindex="0" aria-controls="usersDataTable" rowspan="1" colspan="1" aria-label="Ngày diễn ra: activate to sort column ascending"
                    style="width: 181px;">Tên</th>
                  <th class="sorting" tabindex="0" aria-controls="usersDataTable" rowspan="1" colspan="1" aria-label="Số lượng: activate to sort column ascending"
                    style="width: 140px;">Ngày đăng ký</th>
                  <th class="sorting" tabindex="0" aria-controls="usersDataTable" rowspan="1" colspan="1" aria-label="Số lượng: activate to sort column ascending"
                    style="width: 140px;">Tham gia</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" *ngFor="let register of registers; let i = index">
                  <td class="sorting_1">{{i+1}}</td>
                  <td>{{register.user.username}}</td>
                  <td>{{register.user.name}}</td>
                  <td>{{register.startDate}}</td>
                  <td>
                    <div class="checkbox checkbox-success"><input id="checkbox3" (change)="onChangeJoined($event, register.id,register.user.username, register.pointSocial, register.pointTranning)"
                        type="checkbox" [checked]="register.joined" /> <label for="checkbox3"></label> </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="dataTables_info" id="usersDataTable_info" role="status" aria-live="polite">Đang xem 1 đến 7 trong tổng số 7 mục</div>
          </div>
          <div class="col-sm-6">
            <div class="dataTables_paginate paging_simple_numbers" id="usersDataTable_paginate">
              <ul class="pagination">
                <li class="paginate_button previous disabled" aria-controls="usersDataTable" tabindex="0" id="usersDataTable_previous"><a href="#">Trước</a></li>
                <li class="paginate_button active" aria-controls="usersDataTable" tabindex="0"><a href="#">1</a></li>
                <li class="paginate_button next disabled" aria-controls="usersDataTable" tabindex="0" id="usersDataTable_next"><a href="#">Tiếp</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>